.lazyload {
    background: #fff url(//misc.360buyimg.com/product/home/1.0.0/widget/floor/i/loading.gif) no-repeat 50%
}

* {
    margin: 0;
    padding: 0
}

em, i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

a {
    color: #232321;
    text-decoration: none
}

a:hover {
    color: #000
}

body, input {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\\5b8b\4F53, sans-serif;
    color: #232321
}

a {
    -webkit-transition: color .35s ease;
    -o-transition: color .35s ease;
    -moz-transition: color .35s ease;
    transition: color .35s ease
}

.hide, .none {
    display: none
}

.clearfix:after, .row:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

.mod_price {
    font-size: 14px;
    color: #f10214
}

.mod_price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px
}

.o2_wide {
    min-width: 1200px
}

.o2_mini {
    min-width: 990px
}

.grid_c1, .grid_md6 {
    margin: 0 auto;
    width: 1200px!important
}

.row {
    width: 1200px;
    margin-right: -10px
}

.gird_md5, .grid_md1, .grid_md2, .grid_md3, .grid_md4 {
    float: left;
    margin-right: 10px
}

.grid_md5 {
    width: 900px
}

.grid_md4 {
    width: 790px
}

.grid_c2, .grid_md3 {
    width: 590px
}

.grid_c3, .grid_md2 {
    width: 390px
}

.grid_c6, .grid_md1 {
    width: 190px
}

.o2_mini .grid_c1, .o2_mini .grid_md6 {
    width: 990px
}

.o2_mini .row {
    width: 996px;
    margin-right: -6px
}

.o2_mini .gird_md5, .o2_mini .grid_md1, .o2_mini .grid_md2, .o2_mini .grid_md3, .o2_mini .grid_md4 {
    margin-right: 6px
}

.o2_mini .grid_md5 {
    width: 824px
}

.o2_mini .grid_md4 {
    width: 658px
}

.o2_mini .grid_c2, .o2_mini .grid_md3 {
    width: 492px
}

.o2_mini .grid_c3, .o2_mini .grid_md2 {
    width: 326px
}

.o2_mini .grid_c6, .o2_mini .grid_md1 {
    width: 160px
}

.mod_ver {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0
}

.svgcont {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden
}

.mod_lazyload_placeholder {
    width: 100%;
    background-color: #eee
}

#J_container {
    min-height: 600px
}

html {
    min-width: 1190px;
    height: 100%
}

._3d9JsBgr8kSh9Y6NZ8PoB7 {
    background-color: #f6f6f6;
    overflow: hidden
}

._3d9JsBgr8kSh9Y6NZ8PoB7 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

._1XJNvyiPsY4lu2NnbH581L {
    width: 1190px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden
}

.FkBqaRxNQZqWlatacHvqZ {
    margin-top: 36px
}

.BzALmkZouJln45NkY9TMc a {
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer
}

.BzALmkZouJln45NkY9TMc ._26JA5L9dqnbRnKH94MFISi {
    color: #999;
    font-weight: 400
}

.vL3EMt9HVvHAcMyqXh_rV {
    margin: -2px 6px 0;
    width: 8px;
    height: 13px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAX0lEQVQYlXWQsQ2AMBADbxKkLJJ0YQY2YSdGQ5TUpslLQfEXX93J8htJAJsk3AEU4AaqFYbVMmmOCqlZIZNcqZ+UNT+BFygOduABDtch4O6+WOC8Q8DulkxhCFcGJfEBpwXcMTYeIKsAAAAASUVORK5CYII=);
    display: inline-block;
    vertical-align: middle
}

._2j4Ig_f0kgVdEzfYjQdPsE {
    display: inline-block
}

._3VbmUI3ZuVpoS7-YNYXcJo {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #eee;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    -moz-transition: background .2s linear;
    transition: background .2s linear
}

._1ly13xh54Zg8BuvNqyKAZW {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.c7DNzkcG7rbA6gFkZPklM {
    background: transparent
}

.c7DNzkcG7rbA6gFkZPklM ._1ly13xh54Zg8BuvNqyKAZW {
    opacity: 1
}

._3NpkzKaACb1c5DBA64TMjf {
    width: 790px;
    min-height: 600px;
    margin-right: 10px;
    margin-bottom: 100px;
    float: left;
    overflow: hidden
}

._1om3NVixG7_ObRrkiAaFHw {
    margin-bottom: 55px
}

._3DxVSWjoqsghQdmNPYtFxK {
    padding: 70px 100px 30px;
    min-height: 561px;
    margin-bottom: -22px
}

._2RXg7l_BWEMqTnH7z_3eXh {
    background: #fff
}

._1twYVfJh3pnens1_CqB001 {
    background: #e8e8e8
}

._148j946POEYATUS_mr6SAo {
    margin: 0 auto;
    width: 310px;
    height: 328px;
    background: url("/mtd/pc/hellojoy/1.0.1/static/images/errtips@2x.png") no-repeat 50%
}

._2CD7_2MZBYElpXw5FMiwuK {
    font-weight: 700;
    color: #333;
    margin-bottom: 18px;
    cursor: pointer
}

._2CD7_2MZBYElpXw5FMiwuK h3 {
    font-size: 20px
}

._6KXjmZXt4URp4NonrOWFB {
    margin-bottom: 14px
}

._2HOCMwa4f5nu5ghetrumiN {
    width: 100%
}

.zG7SQS_t1_Jg1IV2xtbo_ {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}

._3Z3585d03aL1refvDecItG {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
    color: #999;
    vertical-align: top
}

.yCtYoR9aaUJ6gLLeZpGlr {
    overflow: hidden;
    font-size: 14px;
    line-height: 26px
}

._38W8GE7s-FxeUGvitLPOQ0 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

._1KzSpgz7dV2fQi0DA7rBNO {
    margin-bottom: 20px
}

.ekdgpaS7Doc3bGdSvcWwK {
    color: #999;
    line-height: 22px
}

._37gzSu5Hae3LGdP4jdoYRh {
    position: relative;
    top: 0;
    left: 0
}

._37gzSu5Hae3LGdP4jdoYRh ._7fa9rGi3YKdxSgaUCDSF {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

._2d4X0kM5O2Sis-q-gexdMD {
    padding: 20px 0 30px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    position: relative
}

._2QOe7CRdCZXEW0hXyKN0IP {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-right: 20px
}

._21vNoNqRXSqfRyx53IR4Rr {
    display: inline-block;
    width: 420px;
    vertical-align: top
}

._1RUUfjmHgxrJ2yXlNcpeHh {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 10px
}

._2Hg6ljEuHJtVSwMKVZ1GDi {
    font-size: 18px;
    color: #f11e13;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1
}

._2Hg6ljEuHJtVSwMKVZ1GDi ._3Lh5MwApUy92am_kTf69Va {
    font-size: 12px;
    font-weight: 400
}

._1sDE6qVpmCbYrXQhjmX51X {
    width: 100%
}

._1sDE6qVpmCbYrXQhjmX51X ._2F_I9LI9rVM8V94OlAS981 {
    font-family: Microsoft YaHei, serif;
    font-size: 14px;
    width: 120px;
    height: 30px;
    background: #f11e13;
    color: #fff
}

.actkrOIbdMS-zHku5XS_S {
    width: 100%;
    height: 134px;
    padding: 30px 100px
}

.actkrOIbdMS-zHku5XS_S ._2aMUhcS2LuMTs2BdB6Shwc {
    display: inline-block;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px
}

.actkrOIbdMS-zHku5XS_S ._3xgMch0ypbxc5ZvBdTI1w_ {
    display: inline-block;
    vertical-align: top;
    line-height: 1
}

.actkrOIbdMS-zHku5XS_S ._3xgMch0ypbxc5ZvBdTI1w_ ._2dYrdKI7W8nTmyeihHXEzG {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px
}

.actkrOIbdMS-zHku5XS_S ._3xgMch0ypbxc5ZvBdTI1w_ ._3cmThYutUAWG7j5ZBzNeKt {
    font-size: 12px;
    color: #999
}

._3And0qpHV138n2ig1jxvLs {
    width: 390px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out
}

._3DlmVlnMkhMUE-pF-qP0KL {
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block
}

._2U3eLPqwoABiBkAINqoEV {
    background-color: #fff;
    overflow: hidden
}

.Jlp9NxGTUZRG1ZYpJXyfe {
    padding: 0 30px;
    margin-bottom: -1px
}

._2BJypxXhYpPUr0Xae8JE0r {
    padding: 30px 0;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
    cursor: pointer
}

.FDhJstJNWi77BI8-Hd54Q {
    margin: 0 auto;
    width: 310px;
    height: 328px;
    background: url("/mtd/pc/hellojoy/1.0.1/static/images/errtips@2x.png") no-repeat 50%
}

._16nDGXgGSuMBHN_-PTCpqG {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABZ0lEQVQokXXSP6hScRjG8c/xD7VUg3Umz3LBagsc3Y2QS8ttcSzUwbFBGnITWiMCReyuDre7CE3XFkEcQ2hokCYnabohCQk1qHE42DO+z/P98Xt53qBUKonpLl7iFPf3s28Y4R1+HIJBDDzDB9xxXNd4gUtIxaCLA1QoFI6Bt/eZM0hHUXQPn3ETwjDU7XZlMhnz+TwJB3iC83QURa/w+OCs12uTyUS9XlcsFs1mM9vtNg7fwDaFp8lnl8ulRqMB+v2+fD6fjJym8PDYQpvNRrvdNh6P9Xo9YRjG7QfpKIpeI3MMhvl8LpfLqVQqrq6uDuNfKbuejiqbzWq1WsrlsuFwGLe+Z+zKfZSEwjDU6XQEQaBWq1mtVnH7Uwrv7cr9p2KxaDAYWCwWms1mErrG2wxWdhdxYdeTarVqMBgYjUbJj/zZZ1fxk3uGc9z6z8o/8Vzi5OAjTvAGX/Eba3xBByfT6fTyEP4LK4xlq12xGbkAAAAASUVORK5CYII=);
    background-repeat: no-repeat
}

._2zUIpylYcPUbfF6oFmZs4c {
    width: 100%;
    height: 180px;
    padding: 30px 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    cursor: pointer
}

._2zUIpylYcPUbfF6oFmZs4c:hover {
    cursor: pointer;
    background-color: #fcfcfc
}

._2zUIpylYcPUbfF6oFmZs4c:hover:after, ._2zUIpylYcPUbfF6oFmZs4c:hover:before {
    background-color: #fcfcfc
}

._2zUIpylYcPUbfF6oFmZs4c:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 180px
}

._2zUIpylYcPUbfF6oFmZs4c:after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 180px
}

._2zUIpylYcPUbfF6oFmZs4c a {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

._1LBUnx7xvlehq_5XKSBxmN {
    font-weight: 700;
    margin-bottom: 14px;
    white-space: nowrap;
    -o-text-overflow: ellipsis
}

._1LBUnx7xvlehq_5XKSBxmN, ._2tRvyI-6wOrC-HUtLqAI_g {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis
}

._2tRvyI-6wOrC-HUtLqAI_g {
    color: #999;
    line-height: 22px;
    height: 88px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4
}

._1bjuX0pwjHvmx6O8fP8py ._3jphGk4zxfXtQ2_HVN_NgE {
    display: inline-block;
    width: 124px
}

._1bjuX0pwjHvmx6O8fP8py ._25B-EAvXiaAe_e3Cqa3oNg {
    padding-left: 15px
}

._2vSqBkthtdzCL0gTGE_u6f {
    display: block
}

._1JVId4uj51BaEhKpAlszvD {
    width: 42px;
    height: 42px;
    background: #333;
    position: fixed;
    left: 50%;
    bottom: 30px;
    margin-left: 553px;
    display: none
}

.cs8VZgDn0tMfzLqrqXdWb {
    left: auto;
    right: 0;
    margin-left: 0
}

.us6soBq6xndYy2z4CsZz8 {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative
}

.us6soBq6xndYy2z4CsZz8:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -8px;
    border: 8px solid transparent;
    border-bottom-color: #f5f5f6;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.us6soBq6xndYy2z4CsZz8:after {
    content: "TOP";
    color: #f5f5f6;
    position: absolute;
    left: 50%;
    bottom: 5px;
    margin: 0 0 0 -12px;
    font-size: 12px
}
